{% extends "base.html" %}

{% block content %}

    <h1>Post New Smile</h1>

    {% if form %}

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                <!--Displays the form item for the post's `title`.--> 
                {{ form.title.label }}<br>
                {{ form.title(class="formtitle") }}<br>
             
            </div>
            
        

            {{ form.submit(class="button") }}
        </form>
    {% endif %}


  {% endblock %}