{% extends "base.html" %}

{% block content %}

<style type="text/css"> 
    .textBox {
        width: 85%;
        padding-inline-start: 20px;
    }
</style>   

    <h1 style="padding-inline-start: 15px;"></h1>

    {% if form %}

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class = textBox>
                <!--Displays the form item for the post's `title`.--> 
               
               
                <label class = textBox>{{form.choice.label}}</label>
                {{form.choice}}
            
             
           
            
        

            {{ form.submit(class="button") }}
        </div>
        </form>
    {% endif %}


  {% endblock %}