<table class="posttable" style="width: 100%; padding: 15px; margin: 10px 0; background-color: #cce5f6; border-radius: 8px;">
    <tr>
        <td colspan="3" style="text-align: center;">
            <div class="posttitle">{{ s.ifThen }}</div>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align: center;">
            <button>
                <a href="{{ url_for('routes.ifThenSurveys', user_id=current_user.id, signature_id=s.id) }}">
                    Look at all surveys
                </a>
            </button>
        </td>
    </tr>
</table>