{% extends "base.html" %}

{% block content %}

    <h1 style="padding-inline-start: 15px;">Behavior</h1>

    {% if form %}
        <div style="padding-inline-start: 20px;">
            <form action="" method="post">
                {{ form.hidden_tag() }}

                    <!--{% if pos_neg == "False" %}

                        {{form.descriptionNegative.label}}<br>
                        {{form.descriptionNegative(class="formbody", style="width:250px; height:100px", spellcheck="true")}}<br><br>

                    {% else %}
                        {{form.descriptionPositive.label}}<br>
                        {{form.descriptionPositive(class="formbody", style="width:250px; height:100px", spellcheck="true")}}<br><br>
                    {% endif %}-->

                    {% if pos_neg == "False" %}
                        {{ form.outcome.label }}<br>
                        {{ form.outcome(class="formbody", style="width:250px; height:100px", spellcheck="true") }}<br><br>
                    {% endif %}

                    Check any of the following that you were trying to do, accomplish, desired to have happen, in this situation (check as many that apply-if none apply, leave blank):
                    {{form.behaviors_mc}}

                {{ form.submit(class="button") }}
            </form>

            <form action="{{url_for('routes.feelings',survey_id=survey_id, pos_neg=pos_neg, back=1)}}" method="post">
                <input type="submit" value="back" class = "button" >
            </form>
        </div>
    {% endif %}


  {% endblock %}